@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

.Home {
     display: flex;
    justify-content: center;
    padding-top: 160px;
    font-family: 'Rubik Puddles', cursive;
    flex-direction: column;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    margin-top: -50px;
    margin-left: -70px;
    img{
        height:250px;
    }
} 
.welcome{
    color:white;
}